.container{
    background-color: rgb(0, 0, 0);
    width: 151.4rem;
    height: 200rem
    justify-content: center;

}
    .nav{
        background-color: #D9D9D9;
        padding: 1rem;
        width: 149.4rem;
        text-align: center;
        font-size: 40px;
    }
 
    main{
    color: #000000;
    
    text-align: center;
    padding: 1rem;
    width: 135rem;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 40px;
    margin-left: 120px;
    background-color: #D9D9D9;
    }
    .musicas-favoritas{
        background-color: #D9D9D9;
        padding: 1rem;
        width: 135rem;
        margin-top: 30px;
        text-align: center;
        border-radius: 20px;
        font-size: 20px;
        margin-left: 120px;
     
      
    }
    .linha-1{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 16px;

    }
  
  .music-1{
    background-color: #D9D9D9;
    width: 40rem;
    height: 8rem;
    border-radius: 40px;
    margin-top: 30px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
  }
  h3{
    margin-left: 20px;
    margin-top: 45px;
    font-size: 30px;
  }
  .music-2{
    background-color: #D9D9D9;
    width: 40rem;
    height: 8rem;
    border-radius: 40px;
    margin-top: 30px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
  }
  .linha-2{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 16px;

}
  .music-3{
    background-color: #D9D9D9;
    width: 40rem;
    height: 8rem;
    margin-top: 30px;
    border-radius: 40px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
  } .music-4{
    background-color: #D9D9D9;
    width: 40rem;
    height: 8rem;
    margin-top: 30px;
    border-radius: 40px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
  }
  .videos-favoritos{
 background-color: #D9D9D9;
 padding: 1rem;
 width: 135rem;
 margin-top: 30px;
 text-align: center;
 border-radius: 20px;
 font-size: 20px;
 margin-left: 120px;
  }

  .img1-2{
    width: 500px;
    height: 500px;
    margin-top: 40px;
    gap: 60px;
    display: flex;
    
  }
  .img1-2 img{
    width: 300px;
    height: 300px;
  }
  .img3-4{
    width: 500px;
    height: 500px;
    margin-top: 40px;
    gap: 60px;
    display: flex;
  
  }
  .img3-4 img{
    width: 300px;
    height: 300px;
  }
  .imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  audio{
    margin-top: 33px;
  }